# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Docker
# =========================
*.log

# =========================
# Kubernetes
# =========================
*.tmp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
